*{
    margin: 0;
    padding: 0;
}
body{
    background-color: gray;
}
header{
    margin: 20px;
}
main{
    margin-left: 10px;
}
h1{
    justify-content: center;
}
section a{
    display: block;
    font-size: 1em;
    color: #608da8;
    padding: 2em;       
}
section{
    margin: 5px;
    width: 20rem;
    background-color: aqua;
    border: 1px solid black;
    box-sizing: border-box;
    transition-property: border-radius, box-shadow;
    /* 
    - transition: recebe vairos valores
    - cria uma transição suave do efeito de hover
    - você definir a trasição para apenas uns atributos
    */
    transition: 0.3s;
    /* duração da transição em s ou ms */
    /* transition-behaviior: */
}section:hover{
    box-decoration-break: slice;
    box-shadow: 0 0 10px 0 gray;
    border-radius: 10px;
}